@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;


}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a202c;
    color: white;
  }
  
  .container {
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
  }
  
  .cell {
    width: 150px;
    height: 150px;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition:  0.3s;
  }
  
  .cell:hover {
    background-color: #4a5568;
  }
  
  .winner {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4a5568;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s;
  }
  
  .reset-button:hover {
    background-color: #1bafdc;
  }
  